/** Import Bootstrap functions */
@import "bootstrap/scss/functions";

/** Import theme variables */
@import "common/variables";

/** Import Bootstrap */
@import "bootstrap/scss/bootstrap";

/** Import theme styles */
// @import "common/fonts";
@import "common/global";
@import "common/dark";
@import "components/alerts";
@import "components/buttons";
@import "components/code";
// @import "components/syntax";
@import "components/comments";
@import "components/forms";
@import "components/images";
@import "components/search";
@import "layouts/footer";
@import "layouts/header";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/sidebar";

footer {
  margin-top: 4em;
  width: 100%;
}

h3 a {
  color: #1d2d35;
}

.menu-icon {
  padding: 0.375rem 0.625rem !important;
}

.navbar-brand {
  color: #0053fa !important;
}

body.home .navbar-brand {
	display: none; // hide on home page
}

figure {
	border: 1px solid #ccc;
	img {
		max-width: 100%;
	}
}
