{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">
        <img src="/images/logo.svg" style="max-width:500px" alt="Litestream logo"/>
      </h1>
    </div>
    
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">
        Stop building slow, complex, fragile software systems. Safely run your application on a single server.
      </p>

      <p class="lead">
        <em>Fully-replicated database with no pain and little cost.</em>
      </p>

      <a class="btn btn-primary btn-lg px-4 mb-2 mt-3" href="{{ "getting-started/" | absURL }}" role="button">Get started</a>

      <a class="btn btn-outline-primary btn-lg px-4 mb-2 mt-3" href="https://join.slack.com/t/litestream/shared_invite/zt-3ed89j5s4-KODYR5v93N_0vHE_kDWCyg" role="button" target="_blank">
        <svg class="mr-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-slack" viewBox="0 0 16 16">
          <path d="M3.362 10.11c0 .926-.756 1.681-1.681 1.681S0 11.036 0 10.111C0 9.186.756 8.43 1.68 8.43h1.682v1.68zm.846 0c0-.924.756-1.68 1.681-1.68s1.681.756 1.681 1.68v4.21c0 .924-.756 1.68-1.68 1.68a1.685 1.685 0 0 1-1.682-1.68v-4.21zM5.89 3.362c-.926 0-1.682-.756-1.682-1.681S4.964 0 5.89 0s1.68.756 1.68 1.68v1.682H5.89zm0 .846c.924 0 1.68.756 1.68 1.681S6.814 7.57 5.89 7.57H1.68C.757 7.57 0 6.814 0 5.89c0-.926.756-1.682 1.68-1.682h4.21zm6.749 1.682c0-.926.755-1.682 1.68-1.682.925 0 1.681.756 1.681 1.681s-.756 1.681-1.68 1.681h-1.681V5.89zm-.848 0c0 .924-.755 1.68-1.68 1.68A1.685 1.685 0 0 1 8.43 5.89V1.68C8.43.757 9.186 0 10.11 0c.926 0 1.681.756 1.681 1.68v4.21zm-1.681 6.748c.926 0 1.682.756 1.682 1.681S11.036 16 10.11 16s-1.681-.756-1.681-1.68v-1.682h1.68zm0-.847c-.924 0-1.68-.755-1.68-1.68 0-.925.756-1.681 1.68-1.681h4.21c.924 0 1.68.756 1.68 1.68 0 .926-.756 1.681-1.68 1.681h-4.21z"/>
        </svg>
        Join our Slack
      </a>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm mt-3">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-4">
        <h2 class="h4">
          No-worry backups
        </h2>
        <p>
          Continuously stream SQLite changes to your preferred cloud storage or local files.
          Quickly recover to the point of failure if your server goes down.
          <a href="/guides/#replica-guides">See supported storage backends.</a>
        </p>
      </div>
      
      <div class="col-lg-4">
        <h2 class="h4">
          Use existing apps
        </h2>
        <p>
          Runs as a separate process so you can integrate into existing applications with no code changes.
        </p>
      </div>
      
      <div class="col-lg-4">
        <h2 class="h4">
          Dirt Cheap
        </h2>
        <p>
          Only costs pennies per day. Object storage is cheap so there's no need to waste money on additional servers.
        </p>
      </div>
    </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
