{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">
        <img src="/images/logo.svg" style="max-width:500px" alt="Litestream logo"/>
      </h1>
    </div>
    
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">
        Stop building slow, complex, fragile software systems. Safely run your application on a single server.
      </p>

      <p class="lead">
        <em>Fully-replicated database with no pain and little cost.</em>
      </p>

      <a class="btn btn-primary btn-lg px-4 mb-2 mt-3" href="{{ "getting-started/" | absURL }}" role="button">Get started</a>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm mt-3">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-4">
        <h2 class="h4">
          No-worry backups
        </h2>
        <p>
          Continuously stream SQLite changes to your preferred cloud storage or local files.
          Quickly recover to the point of failure if your server goes down.
          <a href="/guides/#replica-guides">See supported storage backends.</a>
        </p>
      </div>
      
      <div class="col-lg-4">
        <h2 class="h4">
          Use existing apps
        </h2>
        <p>
          Runs as a separate process so you can integrate into existing applications with no code changes.
        </p>
      </div>
      
      <div class="col-lg-4">
        <h2 class="h4">
          Dirt Cheap
        </h2>
        <p>
          Only costs pennies per day. Object storage is cheap so there's no need to waste money on additional servers.
        </p>
      </div>
    </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
