<header class="navbar fixed-top navbar-expand-md navbar-light">
  <div class="container align-items-baseline">
    <input class="menu-btn order-0" type="checkbox" id="menu-btn">

    <label class="menu-icon d-md-none" for="menu-btn"><span class="navicon"></span></label>

    <a class="navbar-brand order-1 order-md-0 mr-auto" href="{{ .Site.BaseURL | absURL }}">
      <img class="d-md-inline d-none" src="/images/logo.svg" />
      <span class="d-sm-inline d-md-none">{{ .Site.Params.Title }}</span>
    </a>

    <ul class="navbar-nav social-nav order-3 order-md-5">
      {{ range .Site.Menus.social -}}
        <li class="nav-item">
          <a class="nav-link" href="{{ .URL | absURL }}">{{ .Pre | safeHTML }}<span class="ml-2 sr-only">{{ .Name | safeHTML }}</span></a>
        </li>
      {{ end -}}
    </ul>

    <div class="collapse navbar-collapse order-4 order-md-1">
      <ul class="navbar-nav main-nav mr-auto order-5 order-md-2">
        {{- $current := . -}}
        {{ range .Site.Menus.main -}}
          {{- $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) -}}
          {{- $active = or $active (eq .Name $current.Title) -}}
          {{- $active = or $active (and (eq .Name "Docs") (eq $current.Section "docs")) -}}
          {{- $active = or $active (and (eq .Name "Guides") (eq $current.Section "guides")) -}}
          {{- $active = or $active (and (eq .Name "Blog") (eq $current.Section "blog" "authors")) -}}
          <li class="nav-item">
            <a class="nav-link" href="{{ .URL | absURL }}">{{ .Name }}</a>
          </li>
        {{ end -}}
      </ul>
      <div class="break order-6 d-md-none"></div>
    </div>
  </div>
</header>