{{- if .Site.Params.versionBanner -}}
<div class="version-banner alert alert-{{ if eq .Site.Params.docsVersion "0.5" }}info{{else}}warning{{end}} text-center mb-0" role="alert" style="border-radius: 0;">
  <div class="container">
    <strong>{{ .Site.Params.versionBanner.version }}</strong> - {{ .Site.Params.versionBanner.status }}
    {{- if .Site.Params.versionBanner.otherVersionUrl -}}
      | <a href="{{ .Site.Params.versionBanner.otherVersionUrl }}" class="alert-link">{{ .Site.Params.versionBanner.otherVersionText }}</a>
    {{- end -}}
  </div>
</div>
{{- end -}}
